---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
    <h1>Esta es la pagina de mi blog</h1>
</MainLayout>


<style>
    body{
        background-color: beige;
        font-family: Arial, Helvetica, sans-serif;
    }

    h1{
        text-align: center;
        color: #333;
    }
</style>

