---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>

  <div class="container">
    <h1>Esta es mi carta de presentacion</h1>
	<img src="/src/assets/anxo.jpg" alt="Mi foto de perfil">
	<p>
      ¡Hola! Soy un desarrollador de aplicaciones multiplataforma apasionado por
      el diseño web y la creación de experiencias digitales atractivas y
      funcionales. Me encanta trabajar con tecnologías modernas como HTML, CSS,
      y JavaScript, utilizando frameworks como React y Astro para construir
      interfaces dinámicas y optimizadas. Mi objetivo es combinar creatividad y
      código para dar vida a proyectos innovadores y eficaces.
    </p>
  </div>

</MainLayout>

<style>
  body {
    background-color: beige;
	  font-family: Arial, sans-serif;
  }

  h1 {
    text-align: center;
    color: #333;
	  margin-top: 20px;
  }

  .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 20px;
  }

  p {
    padding: 20px;
    background-color: #f5f5f5;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.6;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 100%;
    max-width: 800px; 
  }


  img{
	width: 150px;
	height: 150px;
	margin-top: 20px;
	border-radius: 50%;
	object-fit: cover;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
</style>
