<nav>
    <a href="/">Presentation</a>
    <a href="/about">About me</a>
    <a href="/projects">Projects</a>
    <a href="/blog">Blog</a>
    <a href="/contact">Contactame</a>
</nav>

<style>
    nav{
        display: flex;
        justify-content: center;
        padding: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        gap: 50px;
        border: 1px solid white;
        background-color: bisque;
        border-radius: 30px;
        margin: 10px;
        padding:20px;
    }



    nav a{
        text-decoration: none;
        background: linear-gradient(to right, beige, bisque);
        border: 1px solid white;
        border-radius: 20px;
        padding: 10px;
        color: cadetblue;
    }


</style>