---
import Footer from "../components/Footer.astro";
import Menu from "../components/Menu.astro";


---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Anxo Campos 2025</title>
    <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->
</head>
<body>

    <Menu>

    </Menu>

    <slot/>

    <Footer>

    </Footer>

</body>
</html>
